h1, h2, h3, h4, h5, h6{
    color: white;
}
a
{
    color: white;
}
span
{
    color: white;
}
p
{
    color: white;
}
section
{
    background-color: #1B1F22;
}
footer
{
    background-color: #272c30;
}
button.btn
{
  
  border: 1px solid rgb(247, 244, 244);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
div.aa
{
  margin-bottom: 20px;
}
div.a
{
  position: relative;
  left: ;
  margin-bottom: 20px;
}